<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div id="main">
        <div id="page1">
            <img src="static/images/background.jpg" alt="">
            <nav>
                <div id="midnav">
                    <a href="#">Products</a>
                    <a href="#">Community</a>
                    <a href="#">Market</a>
                    <a href="#">News</a>
                    <a href="#">More</a>
                </div>
                <div id="rnav"><i class="fa-regular fa-user"></i></div>
            </nav>
            <div id="centerText">
                <h4>Trade What/</h4>
                <h4 class="two"></h4>
            </div>
            <div class="search"><i class="fa-solid fa-magnifying-glass"></i>  Search markets here.</div>
           
        </div>
        <div id="page2">
            <h1>Where the Statistic meet intution</h1>
            <h5>Join our proprietary trading framework consisting  under utilized principle of auction market theory combining it with sound stastical principle.</h5>
        
            <div id="video">
                <video muted autoplay loop>
                    <source src="static/images/chart-big.mp4" type="video/mp4">
                </video>
            </div>
            
        </div>
        <div id="title">
            <h4>Trade ideas</h4>
        </div>
        <div id="page3">
           
            <div id="testmonial">
                <div class="card">
                    <div class="image">
                        <img src="static/images/bankbaroda.webp" alt="">
                    </div>
                    <div class="subTitle">
                        <h5>BANKBARODA</h5>
                    </div>
                    <div class="content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>Ipsa officiis sed vero provident quaerat illum hic minus animi blanditiis qui ipsam optio dolorum consequuntur numquam, eligendi velit dignissimos non debitis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="static/images/bankbaroda.webp" alt="">
                    </div>
                    <div class="subTitle">
                        <h5>BANKBARODA</h5>
                    </div>
                    <div class="content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>Ipsa officiis sed vero provident quaerat illum hic minus animi blanditiis qui ipsam optio dolorum consequuntur numquam, eligendi velit dignissimos non debitis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="static/images/bankbaroda.webp" alt="">
                    </div>
                    <div class="subTitle">
                        <h5>BANKBARODA</h5>
                    </div>
                    <div class="content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>Ipsa officiis sed vero provident quaerat illum hic minus animi blanditiis qui ipsam optio dolorum consequuntur numquam, eligendi velit dignissimos non debitis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="static/images/bankbaroda.webp" alt="">
                    </div>
                    <div class="subTitle">
                        <h5>BANKBARODA</h5>
                    </div>
                    <div class="content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>Ipsa officiis sed vero provident quaerat illum hic minus animi blanditiis qui ipsam optio dolorum consequuntur numquam, eligendi velit dignissimos non debitis!</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="page4">
           
        </div>
    </div>
    
    <script src="static/js/script.js"></script>
</body>
</html>